/* [ RESPONSIVE DESIGN STYLES ] */


/*================================================== */


/*** Only Wide Screens ***/

@media(min-width:1600px) {}


/*** Large Devices, Wide Screens ***/

@media (min-width: 1200px) {
    .sidebar li.active {
        margin-top: 90px;
    }
}


/*** Devices Width 767px and Up ***/

@media (min-width:767px) {}


/*** Only Medium Devices, Desktops ***/

@media (max-width:1200px) and (min-width:992px) {}


/* Medium Devices, Desktops */

@media (max-width:1200px) {}


/* Small Devices, Tablets */

@media (max-width: 992px) {}


/*** Only Small Devices ***/

@media (max-width: 992px) and (min-width:768px) {}


/* Small Devices Potrait */

@media (max-width: 767px) {
    .top-header {
        padding: 1px 5px;
    }
    .top-logo img {
        width: 110px;
    }
    .online-investors {
        margin-top: 10px;
    }
    .online-investors i {
        font-size: 36px;
    }
    h5.active-users {
        font-size: 15px;
    }
    p.active-user-counter {
        font-size: 15px;
    }
    ul.menu {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .inner-header {
        padding: 0px 10px;
    }
    .inner-header nav {
        padding: 13px 30px;
    }
    h2.wel-txt-h2 {
        font-size: 53px;
    }
    .wel-txt {
        margin-top: 200px;
    }
    div#hero-section {
        height: 655px;
    }
    .hidden-md {
        display: none !important;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .features {
        padding-top: 50px;
    }
    .title-head {
        font-size: 30px;
    }
    .title-head-subtitle p {
        margin-left: 15px;
        margin-right: 15px;
    }
    .title-head-subtitle p:before,
    .title-head-subtitle p:after {
        display: none;
    }
    .section-title .title {
        font-size: 24px;
    }
    .onlinestat-section .stat-item h3 {
        font-size: 22px;
    }
    .onlinestat-section .stat-item p {
        font-size: 13px;
    }
}

@media (max-width: 767px) and (min-width:571px) {}

@media (max-width: 570px) {}


/* Extra Small Devices, Phones */

@media (max-width: 480px) {}