 {% extends "layout/baseii.html" %} {% block title %} Home {% endblock title %} {% block content %}
<!--[Hero Section]-->
<div id="hero-section" class="set-bg" data-bg="/static/images/chart-g.jpg">

    <div class="container-fluid">
        <div class="hero-text">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="wel-txt">
                            <p>Join over 2.000.000 and to INVEST AND GET PAID INSTANTLY</p>
                            <h2 class="wel-txt-h2">An oppurtunity to invest with us is here</h2>

                            <div class="banner-but">
                                <a href=" ">Open An Account</a>


                                <a href=" ">Trade</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 hidden-md">
                        <div class="graph-box">
                            <div style="height:300px; background-color: #FFFFFF; overflow:hidden; box-sizing: border-box; border: 1px solid #56667F; border-radius: 4px; text-align: right; line-height:14px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #56667F;padding:1px;padding: 0px; margin: 0px; width: 100%;">
                                <div style="height:540px; padding:0px; margin:0px; width: 100%;"><iframe src="https://widget.coinlib.io/widget?type=chart&amp;theme=light&amp;coin_id=859&amp;pref_coin_id=1505" width="100%" height="294px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px;"></iframe></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!--[Hero Section Ends]-->

<div class="container-flui">
    <div style="height:673px; background-color: #FFFFFF; overflow:hidden; box-sizing: border-box; /*border: 1px solid #56667F;*/ border-radius: 0px; text-align: right; line-height:14px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; /*box-shadow: inset 0 -20px 0 0 #56667F;*/ padding: 0px; margin: 0px; width: 100%;">
        <div style="height:655px; padding:0px; margin:0px; width: 100%;"><iframe src="https://widget.coinlib.io/widget?type=full_v2&theme=light&cnt=10&pref_coin_id=1505&graph=yes" width="100%" height="645px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe></div>
        <!--div style="color: #FFFFFF; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing: border-box; padding: 2px 6px; width: 100%; font-family: Verdana, Tahoma, Arial, sans-serif;"><a href="https://coinlib.io" target="_blank" style="font-weight: 500; color: #FFFFFF; text-decoration:none; font-size:11px">Cryptocurrency Prices</a>&nbsp;by Coinlib</div-->
    </div>
</div>
<br><br>
<section class=" set-bg features" data-bg="/static/images/bg2.jpg">
    <div class="container">
        <div class="col-lg-12">
            <h2>JDB is the most advanced invesment platform</h2>
            <div class="  row m-auto p-5">
                <div class="feature col-lg-4 col-md-6 col-12"><i class="far fa-times-circle"></i><br> <span class="title">Extra Low Trading Fees</span><br> <span class="descr">Exchange with extra low fees, keep all your profit</span></div>
                <div class="feature col-lg-4 col-md-6 col-12"><i class="fas fa-balance-scale"></i><br> <span class="title">Quicker than NASDAQ</span><br> <span class="descr">Our project has the Current world's fastest trade engine capable of 75,000 transactions per second</span></div>
                <div class="feature col-lg-4 col-md-6 col-12"><i class="fas fa-funnel-dollar"></i><br> <span class="title">Custody Protection Guaranteed</span><br> <span class="descr">Asset funds are kept in our cold storage custody solution preventing any malicious hacks</span></div>
                <div class="feature col-lg-4 col-md-6 col-12"><i class="far fa-star"></i><br> <span class="title">Trusted by Industry Experts</span><br> <span class="descr">State of the art infrastructure with SHA-384 layer encryption and multi server cross-referencing</span></div>
                <div class="feature col-lg-4 col-md-6 col-12"><i class="far fa-clock"></i><br> <span class="title">24/7 Access</span><br> <span class="descr">Reliable 100% up-time with around the clock account access to all asset trading and balances</span></div>
                <div class="feature col-lg-4 col-md-6 col-12 hidden-md "><i class="far fa-address-card"></i><br> <span class="title">Privacy Info Standards</span><br> <span class="descr">Your information is secured with AUSTRAC inline with AML policy</span></div>
            </div>
        </div>
    </div>
</section>
<div class="end_block">
    <h2 class="mb-5">Invest on JDB today</h2> <a href="/sign-up" class="btngetstarted mb-2">Get started</a><br>
    <div><span>Already have an account?</span> <a href="/sign-in" class="">Log in</a></div>
</div>



{% endblock content %}