{% extends "layout/users.html" %} {% block title %} My Dashboard {% endblock title %} {% block stylesheet %}
<style>
    h3.card-balance {
        color: cadetblue;
    }
    
    .space-top {
        margin-bottom: 30px;
    }
</style>{% endblock stylesheet %} {% block content %}






<header>
    <!-- TopBar -->
    <nav class="navbar navbar-expand   topbar mb-4 static-top">
        <button id="sidebarToggleTop" id="sidebarToggleTop" type="button" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                      </button>
        <ul class="navbar-nav ml-auto">

            <li class="nav-item    mx-1">
                <a class="nav-link  " href="{% url 'notifications' %}" id="alertsDropdown">
                    <i class="fas fa-bell fa-fw"></i>
                    <span class="badge badge-danger badge-counter">{{user_notify_count}}</span>
                </a>

            </li>


            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="img-profile rounded-circle" src="/static/images/avatar.png" style="max-width: 60px">
                    <span class="ml-2 d-none d-lg-inline text-white small">{{user.username}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                    <a class="dropdown-item" href="/my-account-settings/?tab=Update Profile">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 "></i> Settings
                    </a>
                    <a class="dropdown-item" href="{% url 'history' %}">
                        <i class="fas fa-list fa-sm fa-fw mr-2 "></i> Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 "></i> Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- Topbar -->
</header>

<div class="content" style="min-height: 80vh;    ">
    <div class="container">
        <div class="col-xl-12">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="depo-card">
                        <span class="text-primary">Deposite Bal</span>
                        <h4>${{user.deposite_balance}}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="space-top"></div>
                </div>
            </div>
            <script src="/static/js/coingecko-coin-price-marquee-widget.js"></script>
            <coingecko-coin-price-marquee-widget coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#444444" locale="en" font-color="#ffffff"></coingecko-coin-price-marquee-widget>
            <div class="row">
                <div class="col-12">
                    <div class="space-top"></div>
                </div>
            </div>

            {% if investment.status == 'inactive' %}
            <div class="row " id="content-card">
                <div class="col-lg-3 col-6 mb-3 y-2">
                    <div class="card__item">
                        <div class="card__body">
                            <div class="rounded-circle mb-2 bg-white-light fa_card">
                                <i class="fas fa-credit-card fa-2x fa__item text-success"></i>
                            </div>
                            <h3 class="card-balance">${{user.balance}}
                            </h3>
                            <p>Total Balance </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6 mb-3 y-2">
                    <div class="card__item">
                        <div class="card__body">
                            <div class="rounded-circle mb-2 bg-white-light fa_card">
                                <i class="fas  fa-donate fa-2x fa__item text-warning"></i>
                            </div>

                            <h3 class="card-balance">{{user.refferal}}</h3>
                            <p>Total Referrals</p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6 mb-3 y-2">
                    <div class="card__item">
                        <div class="card__body">
                            <div class="rounded-circle mb-2 bg-white-light fa_card">
                                <i class="fas fa-chart-bar fa-2x fa__item"></i>
                            </div>

                            <h3 class="card-balance">${{user.total_amount_invested}}</h3>
                            <p>Amount Invested</p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6 mb-3 y-2">
                    <div class="card__item">
                        <div class="card__body">
                            <div class="rounded-circle mb-2 bg-white-light fa_card">
                                <i class="fas fa-download fa-2x fa__item text-danger"></i>
                            </div>
                            <h3 class="card-balance">${{user.withdraw_total}}</h3>
                            <p>Withdrawal</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-xl-8 mt-2">
                    <div class="card   mt-5 " style="padding: 20px;">
                        <div class="text-center">
                            <h5 class="text-primary">Your Don't Have Any Current Investment</h5>
                            <a href="{% url 'create_investment' %}" class="btn btn-primary"><i class="la la-exchange"></i> Invest</a>
                        </div>
                    </div>
                </div>

            </div>
            {% else %}
            <div class="row " id="content-card">
                <div class="col-lg-3 col-6 mb-3 y-2">
                    <div class="card__item">
                        <div class="card__body">
                            <div class="rounded-circle mb-2 bg-white-light fa_card">
                                <i class="fas fa-credit-card fa-2x fa__item text-success"></i>
                            </div>
                            <h3 class="card-balance">${{user.balance}}
                            </h3>
                            <p>Total Balance </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6 mb-3 y-2">
                    <div class="card__item">
                        <div class="card__body">
                            <div class="rounded-circle mb-2 bg-white-light fa_card">
                                <i class="fas  fa-donate fa-2x fa__item text-warning"></i>
                            </div>

                            <h3 class="card-balance">{{user.refferal}}</h3>
                            <p>Total Referrals</p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6 mb-3 y-2">
                    <div class="card__item">
                        <div class="card__body">
                            <div class="rounded-circle mb-2 bg-white-light fa_card">
                                <i class="fas fa-chart-bar fa-2x fa__item"></i>
                            </div>

                            <h3 class="card-balance">${{user.total_amount_invested}}</h3>
                            <p>Amount Invested</p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6 mb-3 y-2">
                    <div class="card__item">
                        <div class="card__body">
                            <div class="rounded-circle mb-2 bg-white-light fa_card">
                                <i class="fas fa-download fa-2x fa__item text-danger"></i>
                            </div>
                            <h3 class="card-balance">${{user.withdraw_total}}</h3>
                            <p>Withdrawal</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row  justify-content-center  ">
                <div class="col-12">

                    <div class="counterbox" id="counterbox">

                    </div>

                </div>
            </div>
            <div class="row mb-5" id="content-card ">
                <div class="col-lg-3 col-6  mb-3 y-2">
                    <div class="card__item">
                        <div class="card__body">
                            <div class="rounded-circle mb-2 bg-white-light fa_card">
                                <i class="fas fa-calendar fa-2x fa__item text-info"></i>
                            </div>
                            <h3 class="card-balance smaller">{{investment.start_date|date:"Y/m/d"}}</h3>
                            <p>Start Date</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6  mb-3 y-2">
                    <div class="card__item">
                        <div class="card__body">
                            <div class="rounded-circle mb-2 bg-white-light fa_card">
                                <i class="fas fa-calendar  fa-2x fa__item text-info"></i>
                            </div>
                            {% if investment.status == 'active' %}
                            <h3 id="engtime" data-time="{{ investment.end_date|date:'M d, Y H:m:s' }}" class="card-balance smaller">{{investment.end_date|date:"Y/m/d"}}</h3>
                            {% else %}
                            <h3 class="card-balance ">{{investment.end_date|date:"Y/m/d"}}</h3>
                            {% endif %}
                            <p>End Date</p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6  mb-3 y-2">
                    <div class="card__item">
                        <div class="card__body">
                            <div class="rounded-circle mb-2 bg-white-light fa_card">
                                <i class="fas fa-gift fa-2x fa__item"></i>
                            </div>

                            <h3 class="card-balance">{{investment.package.name}}</h3>
                            <p>Package</p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6  mb-3 y-2">
                    <div class="card__item">
                        <div class="card__body">
                            <div class="rounded-circle mb-2 bg-white-light fa_card">
                                <i class="las la-hourglass-half fa-2x fa__item text-warning"></i>
                            </div>
                            <h3 class="card-balance">{{investment.status}}</h3>
                            <p>Status</p>
                        </div>
                    </div>
                </div>

            </div>
            {% if investment.is_complete == True %}
            <div class="row justify-content-center">
                <div class="col-10 mb-4">
                    <a href="{% url 'create_investment' %}" class="btn btn-primary btn-block">Renew/Upgrade Investment</a>
                </div>
            </div>
            {% endif %} {% endif %}
            <div class="row">
                <div class="space" style="margin-bottom: 60px;"></div>
            </div>

        </div>
    </div>
</div>


<!--footer-->

<nav class="nav-footer">
    <a href="{% url 'withdraw' %}" class="nav__link"><span><i class="fas fa-download "></i></span>Withdraw</a>
    <a href="{% url 'deposit' %}" class="nav__link"><span><i class="fas fa-qrcode "></i></span>Deposit</a>
    <a href="{% url 'history' %}" class="nav__link"><span><i class="fas fa-fw fa-history "></i></span>Transactions</a>
    <a href="{% url 'referrals' %}" class="nav__link"><span><i class="fas fa-users fa-1.5x"></i></span>Referrals</a>

</nav>
<!--footer end-->
{% endblock content %} {% block javascripts %} {% if investment.status == 'active' %}

<script>
    $(document).ready(function() {
        /* csrf token */
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        const FULL_DASH_ARRAY = 283;
        const WARNING_THRESHOLD = 10;
        const ALERT_THRESHOLD = 5;

        const COLOR_CODES = {
            info: {
                color: "green"
            },
            warning: {
                color: "orange",
                threshold: WARNING_THRESHOLD
            },
            alert: {
                color: "red",
                threshold: ALERT_THRESHOLD
            }
        };

        var endtime = $('#engtime').data('time')
        const TIME_LIMIT = endtime;
        let timePassed = 0;
        let timeLeft = TIME_LIMIT;
        let timerInterval = null;
        let remainingPathColor = COLOR_CODES.info.color;

        document.getElementById("counterbox").innerHTML = `
<div class="base-timer">
  <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <g class="base-timer__circle">
      <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
      <path
        id="base-timer-path-remaining"
        stroke-dasharray="283"
        class="base-timer__path-remaining ${remainingPathColor}"
        d="
          M 50, 50
          m -45, 0
          a 45,45 0 1,0 90,0
          a 45,45 0 1,0 -90,0
        "
      ></path>
    </g>
  </svg>
  <span id="base-timer-label" class="base-timer__label">${formatTime(
    endtime
  )}</span>
</div>
`;

        startTimer();

        function onTimesUp() {
            clearInterval(timerInterval);


        }

        function credit_user() {
            $.ajax({
                type: "POST",
                url: "/credit-user-investment/",
                data: {

                    csrfmiddlewaretoken: csrftoken,
                },

                success: function(data) {
                    window.location.reload();

                },

            });
        }

        function startTimer() {
            timerInterval = setInterval(() => {
                var now = new Date().getTime();
                const eventDate = Date.parse(endtime);
                var distance = eventDate - now;
                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                timePassed = timePassed += 1;
                timeLeft = TIME_LIMIT - timePassed;

                console.log(distance)
                document.getElementById("base-timer-label").innerHTML = formatTime(
                    distance
                );
                setCircleDasharray();
                setRemainingPathColor(distance);

                if (distance < 0) {
                    document.getElementById("base-timer-label").innerHTML = formatTime(
                        distance
                    );
                    onTimesUp();
                    credit_user()

                }
            }, 1000);
        }

        function formatTime(distance) {
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            if (distance < 0) {
                seconds = 0;
                days = 0
                hours = 0
                minutes = 0
                s = 0
            }

            return `${days}:${hours}:${minutes}:${seconds}`;
        }

        function setRemainingPathColor(timeLeft) {
            const {
                alert,
                warning,
                info
            } = COLOR_CODES;
            if (timeLeft <= alert.threshold) {
                document
                    .getElementById("base-timer-path-remaining")
                    .classList.remove(warning.color);
                document
                    .getElementById("base-timer-path-remaining")
                    .classList.add(alert.color);
            } else if (timeLeft <= warning.threshold) {
                document
                    .getElementById("base-timer-path-remaining")
                    .classList.remove(info.color);
                document
                    .getElementById("base-timer-path-remaining")
                    .classList.add(warning.color);
            }
        }

        function calculateTimeFraction() {
            const rawTimeFraction = timeLeft / TIME_LIMIT;
            return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);
        }

        function setCircleDasharray() {
            const circleDasharray = `${(
    calculateTimeFraction() * FULL_DASH_ARRAY
  ).toFixed(0)} 283`;
            document
                .getElementById("base-timer-path-remaining")
                .setAttribute("stroke-dasharray", circleDasharray);
        }

    });
</script>
{% else %}
<script>
    const COLOR_CODES = {
        info: {
            color: "green"
        },
        warning: {
            color: "orange",

        },
        alert: {
            color: "red",

        }
    };


    let remainingPathColor = COLOR_CODES.info.color;
    document.getElementById("counterbox").innerHTML = `
<div class="base-timer">
  <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <g class="base-timer__circle">
      <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
      <path
        id="base-timer-path-remaining"
        stroke-dasharray="283"
        class="base-timer__path-remaining ${remainingPathColor}"
        d="
          M 50, 50
          m -45, 0
          a 45,45 0 1,0 90,0
          a 45,45 0 1,0 -90,0
        "
      ></path>
    </g>
  </svg>
  <span id="base-timer-label" class="base-timer__label">${formatTime(
     
  )}</span>
</div>
`;

    function formatTime() {

        seconds = 0;
        days = 0
        hours = 0
        minutes = 0
        s = 0


        return `${days}:${hours}:${minutes}:${seconds}`;
    }
</script>

{% endif %} {% endblock javascripts %}