{% extends "layout/users.html" %} {% block title %} Withdraw Funds {% endblock title %} {% block stylesheet %} {% endblock stylesheet %} {% block content %}
<header>
    <!-- TopBar -->
    <nav class="navbar navbar-expand   topbar mb-4 static-top">
        <a href="{% url 'dashboard' %}" id="sidebarToggleTop2" class=" rounded-circle mr-3 text-white ">
            <i class="fas fa-arrow-left"></i>
            <span>Withdrawal</span>
        </a>
        <ul class="navbar-nav ml-auto">

            <li class="nav-item    mx-1">
                <a class="nav-link  " href="{% url 'notifications' %}" id="alertsDropdown">
                    <i class="fas fa-bell fa-fw"></i>
                    <span class="badge badge-danger badge-counter">{{user_notify_count}}</span>
                </a>

            </li>


            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="img-profile rounded-circle" src="/static/images/avatar.png" style="max-width: 60px">
                    <span class="ml-2 d-none d-lg-inline text-white small">{{user.username}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/my-account-settings/?tab=Update Profile">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 "></i> Settings
                    </a>
                    <a class="dropdown-item" href="{% url 'history' %}">
                        <i class="fas fa-list fa-sm fa-fw mr-2 "></i> Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 "></i> Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- Topbar -->
</header>

<div class="content" style="min-height: 90vh;">
    <div class="container">
        <div class="col-xl-12">
            <div class="row justify-content-center">
                <div class="col-7">
                    <div class="depo-card breadcrum">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Withdraw </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="space-top deposite"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="deposite-card">


                        <form action="" method="post" id="withdrawForm">
                            {% csrf_token %}

                            <div class="steptab">


                                <div class="form-group mt-3">
                                    <label>Select Coin</label>

                                    <select id="withdraw_coin" class=" form-control" name="coin" required>
                                         
                                          <option value="BTC">BTC</option>
                                          <option value="ETH">ETH</option>
                                          <option value="DOGE">DOGE</option>
                                          <option value="XPR">XPR</option>
                                      </select>
                                </div>
                                <div class="form-group mt-4">
                                    <label>Amount in Usd</label>
                                    <input type="number" class="form-control" placeholder="Amount" name="amount" required>
                                </div>

                                <div class="form-group mt-4">
                                    <h6 class="text-prim" id="result-amount"></h6>
                                </div>
                                <div class="form-group">
                                    <label>Wallet Address</label>
                                    <input type="text" class="form-control" name="wallet_address" placeholder="Wallet Address" id="withdraw_address" required="">
                                </div>

                                <div class="form-group">
                                    <h3 class="text-50">NOTE : <small class="text-muted">Your withdrawal  will  be approved within a period of 6-12 Hours,Make sure you provide a correct wallet address.
                                                Your Current Balance Is : <span class="text-warning">${{ user.balance }}</span> 
                                            </small></h3>
                                </div>
                                <div class="form-group mt-4">
                                    <button class="btn btn-primary btn-block">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock content %} {% block javascripts %} {% endblock javascripts %}